######################################################################
##
## RUnit
## =====================================
##
## inst/NAMESPACE
## =====================================
## initialization of classes, namespace, ...
##
##
##
##
## Version
## =====================================
##  $Id: NAMESPACE,v 1.5 2006/01/20 17:21:36 burger Exp $
##
##
######################################################################


import(methods)

export(".setUp",
       ".tearDown",
       "checkTrue",
       "checkEquals",
       "checkEqualsNumeric",
       "checkException",
       "checkIdentical",
       "DEACTIVATED",
       "defineTestSuite",
       "getErrors",
       "inspect",
       "isValidTestSuite",
       "print.RUnitTestData",
       "printTextProtocol",
       "printHTMLProtocol",
       "printHTML.trackInfo",
       "runTestSuite",
       "runTestFile",
       "summary.RUnitTestData",
       "tracker")

